@font-face {
  font-family: "iconfont"; /* Project id 4511041 */
  src: url('iconfont.woff2?t=1714296440609') format('woff2'),
       url('iconfont.woff?t=1714296440609') format('woff'),
       url('iconfont.ttf?t=1714296440609') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao_o:before {
  content: "\eb78";
}

.icon-zuojiantou:before {
  content: "\e636";
}

.icon-xiajiantou:before {
  content: "\e62b";
}

.icon-bianji:before {
  content: "\e62a";
}

.icon-shanchu:before {
  content: "\e721";
}

.icon-jinruyou:before {
  content: "\e61a";
}

.icon-shangxiashaixuan:before {
  content: "\e610";
}

.icon-xiangxiashaixuan:before {
  content: "\e634";
}

.icon-xiangshangshaixuan:before {
  content: "\e635";
}

.icon-zuosanjiao:before {
  content: "\e6c8";
}

.icon-shouye2:before {
  content: "\101a9";
}

.icon-fenlei:before {
  content: "\e600";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-wode-copy:before {
  content: "\e639";
}

.icon-xiayiyeqianjinchakangengduo-xianxingyuankuang:before {
  content: "\e8f0";
}

.icon-Magnifier:before {
  content: "\e62d";
}

