body,
h1,
h2,
h3,
h4,
h5,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

img {
    vertical-align: middle;
    object-fit: cover;
}

a {
    text-decoration: none;
}

:root {
    --m: #fa8550;
}

@font-face {
    font-family: 'iconfont';
    src: url('../iconfont/iconfont.woff2?t=1713928310695') format('woff2'),
        url('../iconfont/iconfont.woff?t=1713928310695') format('woff'),
        url('../iconfont/iconfont.ttf?t=1713928310695') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}